/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/homepage.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.homepage_container__p6fkn {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9fafb;
  padding: 1rem;
}
.homepage_title__B1aIx {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.homepage_subtitle__sv3az {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 6rem;
}
.homepage_button__DIOm2 {
  width: 100%;
  max-width: 16rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  outline: none;
  transition: background 0.1s, color 0.1s, box-shadow 0.1s;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
}
.homepage_buttonPrimary__zFwJ3 {
  background: #f3f4f6;
  color: #111827;
}
.homepage_buttonPrimary__zFwJ3:hover {
  background: #e5e7eb;
}
.homepage_buttonPrimary__zFwJ3:active {
  background: #d1d5db;
}
.homepage_buttonSecondary__UJN73 {
  background: #f3f4f6;
  color: #111827;
}
.homepage_buttonSecondary__UJN73:hover {
  background: #e5e7eb;
}
.homepage_buttonSecondary__UJN73:active {
  background: #d1d5db;
}

